table, th, td {
    border: 1px solid;
}
thead {
    background-color: aqua;
}
table {
    width: 100%;
    #border-collapse: collapse;
}
th {
    height: 50px;
}
td {
    text-align: center;
}
th, td {
    border-bottom: 2px solid #ddd;
}