.App {
  text-align: center;
}

/* id selector - high specificity */
#id {
  color: #3498db;
}

/* id selector - low specificity */
[id="id"] {
  color: chartreuse;
}

/* all p descendants of a div */
div p {
  color: orangered;
}






