.App {
  text-align: center;
}

/* id selector - high specificity */
#id {
  color: #3498db;
}

/* id selector - low specificity */
[id="id"] {
  color: chartreuse;
}

/* all p descendants of a div */
div p {
  color: orangered;
}

input:in-range {
  border: 3px solid red
}

div {
  height: 80px;
}
input {
    margin:30px;
}
div:focus-within {
  background-color: #1565C0;
}

div:hover {
  color: navajowhite;
}

p {
  color: #4CAF50;
}




